/* Reset  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
a{
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
input::placeholder {
    text-transform: uppercase;
}
.button {
    background-color: var(--secondary-clr);
    border: 2px solid var(--primary-clr);
    color: var(--primary-clr);
    padding: 6px 12px;
    border-radius: 25px;
    text-transform: uppercase;
    transition:background, color .4s;
    display: inline-block;
    margin: 20px 0;
}
input.button {
    width: fit-content;
    margin: auto;
    display: inline-block;
}
.button:hover{
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

input,textarea {
    width: 100%;
    margin: 5px;
    padding: 10px 10px;
    background-color: #ffffff3a;
    border: 2px solid #c5b9cbe0;
    border-radius: 30px;
}
textarea {
    height: 200px;
}
h1, h2, h3, h4 {
    color: #beb3c4;
    font-weight: normal;
    text-transform: capitalize;
}
p, a, li {
    color: #807ea1;
}
h1, h3 {
    font-size: 1.2em;
    text-transform: capitalize;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.landing .landing-text p {
    font-size: 1.1em;
}
/* variabler  */
:root {
    --primary-clr:#ffc636;
    --secondary-clr:#0a0b5b;
}


/* body */
body {
    font-family: "New Tegomin";
    font-weight: 400;
    font-style: normal;
    background:var(--secondary-clr);
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

/* font  */
@font-face {
    font-family: "New Tegomin";
    src: url(Assits/font/NewTegomin-Regular.ttf);
}
/* Grid  */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;

}
/* Section  */
section{
    padding: 20px 0;
    overflow: hidden;
}
/* Mobile Style */
/* Start Nav Style  */
.container{
    width: 100%;
    padding: 0 20px;
}
nav .container h1 {
    grid-column: 1 / 4;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--primary-clr);
    font-size: 1.4em;
}
nav .container ul {
        display: none;
}
/* End Nav Style  */
/* Start Landing Style  */
.landing .container .landing-text {
    grid-column: 1 / 5;
}
.landing .container .image{
    grid-column: 6 / 9;
}
.landing .container .image img {
    width: 200%;
}
/* End Landing Style  */

/* Start Portfolio Style  */
   .portfolio {
    background-image: url(Assits/square_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
   }
   .portfolio .container h3 {
    text-align: center;
    margin-bottom: 20px;
   }
   .portfolio .container .portfolio-cont .box{
    grid-column: 1/9;
        display: flex;
        align-items: center;
   }
   .portfolio .container .portfolio-cont .box .image {
        flex-basis: 40%;
        margin-right: 30px;
   }
      .portfolio .container .portfolio-cont .box .image  img {
       width: 100%;
      }
/* End Portfolio Style  */

/* Start Skills Style  */
.skills {
    background-color: #07083E;
}
.skills .container h3 {
    text-align: center;
    margin-bottom: 30px;
}

.skills .container .skills-cont .box{
    grid-column: span 4;
    background-color: #15154f;
    text-align: center;
    padding: 20px;
}

.skills .container .skills-cont .box  img {
    height: 80px;
    margin: 10px 0;
}
.skills .container .skills-cont .box  h4 {
    margin: 10px 0;
}

/* End Skills Style  */

/* Start Conatc Section  */
.contact .container h3{
    text-align: center;
    margin: 20px 0;
}
.contact .container p {
    margin-bottom: 20px;
    text-align: center;
}
.contact .container form {
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
    
}
.contact .container form input {
    margin: 15px 0;
    padding: 10px ;
}
/* End Conatc Section  */

/* Start Footer Style  */
    footer {
        background-color: #14153D;
        background-position: center top;
        background-image: url(Assits/footer_image.png);
        background-size: 40%;
        background-repeat: no-repeat;
        padding: 20px 0;
    }

    footer .container p{
        grid-column: 1/5;
    }
    footer .container .icon {
        grid-column: 7 / 9;
        display: flex;
        justify-content: flex-end;
    }
    footer .container .icon img{
        width: 20px;
        margin-left: 10px;
    }
/* End Footer Style  */

/* Small tablet   */
@media  screen and (min-width: 620px) {
    .container {
        width: 610px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .portfolio .container .portfolio-cont .box{
        grid-column: span 4;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .portfolio .container .portfolio-cont .box:last-child {
        grid-column: 3/span 4;
    }
    .portfolio .container .portfolio-cont .box .image img  {
        height: 180px;
    }
}

/* Large tablet and Laptop  */
@media screen and (min-width: 970px){
    body{
        font-size: 18px;
    }
    .container {
            width: 960px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .skills .container .skills-cont .box {
            grid-column: span 2;
        }
        nav .container ul {
            display:block;
            grid-column: 7/9;
        }
        nav .container ul li {
            display: inline-block;
            margin-right: 10px;

        }
}

/* Desktop style  */
@media screen and (min-width: 1200px){
    body {
        font-size: 20px;
    }
    .container {
        width: 1190px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .portfolio .container .portfolio-cont .box:nth-child(1){
       grid-column: 2/4;
    }.portfolio .container .portfolio-cont .box:nth-child(2){
        grid-column: 4 / 6;
        margin-top: 155px;
    }.portfolio .container .portfolio-cont .box:nth-child(3){
       grid-column: 6/8;
    }
    .landing .container .landing-text {
        align-self: center;
    }
}
